# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Databases & local storage
/backend/chroma_db/
/backend/vdb_storage/

# IDE files
.vscode/
.idea/
.gemini/
antigravity-ide/
